<%= address.hidden_field :id, value: address.object.id %>
<div class="row">
    <div class="col-md-12">
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-map-marker"></i><%= t('addresses.name') %></h3>
                    <div class="box-tool">
                        <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                    </div>
                </div>
                <div class="box-content">
                    <div class="form-group">
                      <label class="col-sm-3 col-lg-2 control-label"><%= t('addresses.attributes.cep') %></label>
                      <div class="col-sm-9 col-lg-2 controls">
                            <%= address.text_field :cep, value: (defined? address and address.object ? address.object.cep : ""), class: "form-control cep-mask", id: 'address_cep'  %>
                      </div>
                      <a id="search_cep" class="btn btn-primary" value="search_cep" name="search_cep" href="javascript:void(0)"><%= t("addresses.attributes.search") %></a>
                      <span class="help-inline"><%= t('addresses.attributes.cep_help') %></span>
                    </div>

                    <div class="form-group">
                      <label class="col-sm-3 col-lg-2 control-label"><%= t('addresses.attributes.state') %></label>
                      <div class="col-sm-9 col-lg-3 controls">
                        <%= address.select(:state_id, [], {include_blank: t('attributes.select')}, class: "form-control chosen", id: "address_state_id") %>
                      </div>
                    </div>

                    <div id="div_city" class="form-group">
                      <label class="col-sm-3 col-lg-2 control-label"><%= t('addresses.attributes.city') %></label>
                      <div class="col-sm-9 col-lg-3 controls">
                        <%= address.select(:city_id,[],{include_blank: t('attributes.select')},class: "form-control chosen", id: "address_city_id") %>
                      </div>
                    </div>

                    <div id="div_address">
                        <div class="form-group">
                          <label class="col-sm-3 col-lg-2 control-label"><%= t('addresses.attributes.neighborhood') %></label>
                          <div class="col-sm-9 col-lg-5 controls">
                            <%= address.text_field :neighborhood,:value => address_get_neighborhood_name(address.object),:class => "form-control", id: "address_neighborhood_text" %>
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="col-sm-3 col-lg-2 control-label"><%= t('addresses.attributes.street') %></label>
                          <div class="col-sm-9 col-lg-5 controls">
                            <%= address.text_field :street, :value => address_get_street(address.object),:class => "form-control", id: "address_street_text"  %>
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="col-sm-3 col-lg-2 control-label"><%= t('addresses.attributes.number') %></label>
                          <div class="col-sm-9 col-lg-4 controls">
                            <%= address.text_field :number, :value => (defined? address and address.object ? address.object.number : ""),:class => "form-control", id: "address_number_text" %>
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="col-sm-3 col-lg-2 control-label"><%= t('addresses.attributes.complement') %></label>
                          <div class="col-sm-9 col-lg-4 controls">
                            <%= address.text_field :complement,:value => (defined? address and address.object ? address.object.complement : "") ,:class => "form-control", id: "address_complement_text" %>
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="col-sm-3 col-lg-2 control-label"><%= t('addresses.attributes.note') %></label>
                          <div class="col-sm-9 col-lg-4 controls">
                            <%= address.text_area :notes,:value => (defined? address and address.object ? address.object.notes : ""),:class => "form-control", id: "address_note_text" %>
                          </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>

<% content_for :end do %>
    <%= javascript_include_tag 'address_plugin/address' %>

    <script type="text/javascript">
        $( document ).ready(function() {
            ADDRESS.commonMethods.insert_data(<%= address.object.attributes.to_json.html_safe %>);
        });
    </script>

<%end%>
