<% if address %>
<div class="form-horizontal form-bordered">
  <div class="row">
    <div class="col-md-12">
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-map-marker"></i><%= t('addresses.name') %></h3>
                    <div class="box-tool">
                        <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                    </div>
                </div>
                <div class="box-content">
                    <div class="form-group">
                      <label class="col-sm-3 col-lg-2 show-label"><%= t('addresses.attributes.state') %></label>
                      <label class="col-sm-9 col-lg-10 controls value"><%= address_get_state_name(address) %></label>
                    </div>

                    <div class="form-group">
                      <label class="col-sm-3 col-lg-2 show-label"><%= t('addresses.attributes.city') %></label>
                      <label class="col-sm-9 col-lg-10 controls value"><%= address_get_city_name(address) %></label>
                    </div>

                    <div class="form-group">
                      <label class="col-sm-3 col-lg-2 show-label"><%= t('addresses.attributes.neighborhood') %></label>
                      <label class="col-sm-9 col-lg-10 controls value"> <%= address_get_neighborhood_name(address) %></label>
                    </div>

                    <div class="form-group">
                      <label class="col-sm-3 col-lg-2 show-label"><%= t('addresses.attributes.street') %></label>
                      <label class="col-sm-9 col-lg-10 controls value"><%= address.street %></label>
                    </div>

                    <div class="form-group">
                      <label class="col-sm-3 col-lg-2 show-label"><%= t('addresses.attributes.number') %></label>
                      <label class="col-sm-9 col-lg-10 controls value"><%= address.number %></label>
                    </div>

                    <div class="form-group">
                      <label class="col-sm-3 col-lg-2 show-label"><%= t('addresses.attributes.complement') %></label>
                      <label class="col-sm-9 col-lg-10 controls value"><%= address.complement %></label>
                    </div>

                    <div class="form-group">
                      <label class="col-sm-3 col-lg-2 show-label"><%= t('addresses.attributes.note') %></label>
                      <label class="col-sm-9 col-lg-10 controls value"><%= address.notes %></label>
                    </div>
                </div>
          </div>
      </div>
  </div>
</div>
<%end%>
